/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0a0a0a;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}

/* NAVBAR */

.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px 6%;
    background:#0f0f0f;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:999;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#003cff;
    text-decoration:none;
}

.menu,
.nav-links{
    display:flex;
    align-items:center;
    gap:30px;
    list-style:none;
}

.menu a,
.nav-links a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}

.menu a:hover,
.nav-links a:hover{
    color:#00ff9d;
}

/* HERO */

.hero{
    height:450px;

    background:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('../img/campo.webp');

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;
}

.hero-content{
    padding:30px;
    border-radius:15px;
    backdrop-filter:blur(3px);
}

.hero h1{
    font-size:60px;
    margin-bottom:15px;
}

.hero p{
    font-size:22px;
}

/* filtros */

.filtros{
    padding:40px 20px;
    text-align:center;
}

.form-filtro select,
.form-filtro button{
    padding:12px;
    border:none;
    border-radius:8px;
}

.form-filtro select{
    width:220px;
}

.form-filtro button{
    background:black;
    color:white;
    cursor:pointer;
}

/* BUSCADOR */

.buscador{
    display:flex;
    justify-content:center;
    margin-top:25px;
}

.buscador input{
    width:350px;
    max-width:90%;

    padding:15px 20px;

    border:none;
    border-radius:50px;

    background:#1b1b1b;
    color:white;

    outline:none;

    border:1px solid rgba(255,255,255,0.1);
}

.buscador input:focus{
    border:1px solid #00ff9d;
}

/* PRODUCTOS */

.productos{
    padding:20px 40px 60px;
}

.grid-productos{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,auto));
    gap:35px;
    align-items: start;
    justify-content: center;
}

.producto-card {
    max-width: 320px;
    width: 100%;
}


.card{
    background:#181818;

    border-radius:20px;

    overflow:hidden;

    transition:0.3s;

    box-shadow:0 5px 15px rgba(0,0,0,0.3);
}

.card:hover{
    transform:translateY(-6px);
}

.card img{
    width:100%;
    height:320px;

    object-fit:cover;

    transition:0.4s;
}

.card:hover img{
    transform:scale(1.04);
}

.info-card{
    padding:20px;
}

.card h3{
    font-size:22px;
    margin-bottom:10px;
}

.liga{
    color:#999;
    margin-bottom:10px;
}

.precio{
    font-size:24px;
    font-weight:bold;
    margin-bottom:20px;

    color:#00ff9d;
}

.card a,
.btn-admin,
.btn-eliminar,
button{
    transition:0.3s;
}

.card a{
    display:block;

    padding:12px;

    background:black;
    color:white;

    text-align:center;

    text-decoration:none;

    border-radius:8px;

    font-weight:bold;
}

.card a:hover{
    background:#333;
}

/* AUTH */

.auth-body,
.crear-container{
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:120px 20px;
}

.auth-body{
    background:
    linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),
    url('../img/banner.jpg');

    background-size:cover;
    background-position:center;
}

.auth-box{
    width:100%;
    max-width:420px;
}

.auth-form,
.form-admin,
.crear-form{
    background:#181818;

    padding:40px;

    border-radius:20px;

    display:flex;
    flex-direction:column;
    gap:18px;
}

.auth-form h2,
.crear-form h1{
    text-align:center;
    margin-bottom:10px;
}

.auth-form input,
.form-admin input,
.form-admin textarea,
.form-admin select,
.crear-form input,
.crear-form textarea,
.crear-form select,
.producto-form input,
.producto-form select{
    width:100%;

    padding:16px;

    border:none;
    border-radius:12px;

    background:#111;
    color:white;

    outline:none;
}

.auth-form button,
.form-admin button,
.crear-form button,
.producto-form button,
.carrito-total button{
    padding:16px;

    border:none;
    border-radius:12px;

    background:#00ff9d;
    color:black;

    font-weight:bold;

    cursor:pointer;
}

.auth-form button:hover,
.form-admin button:hover,
.crear-form button:hover,
.producto-form button:hover,
.carrito-total button:hover{
    transform:scale(1.02);
}

/* PRODUCTO */

.producto-view{
    width:90%;
    max-width:1200px;

    margin:140px auto 80px;

    display:grid;
    grid-template-columns:1fr 1fr;
    gap:60px;

    align-items:center;
}

.producto-img{
    background:#181818;
    padding:30px;
    border-radius:20px;
}

.producto-img img{
    width:100%;
    max-height:650px;
    object-fit:contain;
}

.producto-info h1{
    font-size:48px;
    margin-bottom:20px;
}

.producto-precio{
    font-size:38px;
    font-weight:bold;

    color:#00ff9d;

    margin-bottom:25px;
}

.producto-desc{
    color:#bbb;
    line-height:1.6;
    margin-bottom:35px;
}

.producto-form{
    display:flex;
    flex-direction:column;
    gap:18px;
}

/* CARRITO */

.carrito-container,
.admin-container,
.form-admin-container{
    width:90%;
    max-width:1200px;

    margin:140px auto 80px;
}

.btn-pagar{
    background:#008cff;
    color:white;
    padding: 12px 18px;
    border-radius: 10px;
    text-decoration:none

}

.carrito-container h1,
.admin-top h1{
    font-size:42px;
    margin-bottom:40px;
}

.carrito-card{
    background:#181818;

    border-radius:20px;

    padding:25px;

    display:flex;
    align-items:center;
    gap:25px;

    margin-bottom:25px;
}

.carrito-card img{
    width:180px;
    height:180px;

    object-fit:cover;

    border-radius:15px;
}

.carrito-info{
    flex:1;
}

.carrito-info h2{
    margin-bottom:15px;
}

.carrito-info p{
    color:#bbb;
    margin-bottom:8px;
}

.carrito-info span{
    display:block;

    margin-top:18px;

    font-size:26px;
    font-weight:bold;

    color:#00ff9d;
}

.btn-eliminar{
    background:#ff4d4d;
    color:white;

    padding:12px 18px;

    border-radius:10px;

    text-decoration:none;
}

.btn-eliminar:hover{
    background:#ff1f1f;
}

.carrito-total{
    margin-top:40px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

/* ADMIN */

.admin-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.btn-admin{
    background:#00ff9d;
    color:black;

    padding:14px 22px;

    border-radius:10px;

    text-decoration:none;

    font-weight:bold;
}

.tabla-admin{
    width:100%;

    border-collapse:collapse;

    background:#181818;

    border-radius:20px;

    overflow:hidden;
}

.tabla-admin th{
    background:#111;
}

.tabla-admin th,
.tabla-admin td{
    padding:20px;
    text-align:left;
}

.tabla-admin td{
    border-top:1px solid #2a2a2a;
}

/* FOOTER */

footer,
.footer{
    margin-top:50px;

    padding:30px;

    text-align:center;

    background:black;

    color:#777;
}

/* UTILIDADES */

.oculto{
    display:none !important;
}

/* RESPONSIVE */

@media(max-width:900px){

    .producto-view{
        grid-template-columns:1fr;
    }

    .producto-info h1{
        font-size:36px;
    }
}

@media(max-width:800px){

    .navbar{
        flex-direction:column;
        gap:20px;
    }

    .menu,
    .nav-links{
        flex-wrap:wrap;
        justify-content:center;
    }

    .hero h1{
        font-size:40px;
    }

    .hero p{
        font-size:18px;
    }

    .carrito-card{
        flex-direction:column;
        align-items:flex-start;
    }

    .carrito-card img{
        width:100%;
        height:auto;
    }

    .carrito-total,
    .admin-top{
        flex-direction:column;
        gap:20px;
        align-items:flex-start;
    }
}

.logo{
    display:flex;
    align-items:center;
    gap:12px;

    text-decoration:none;

    color:#003cff;

    font-size:28px;
    font-weight:bold;
}

.logo img{
    width:42px;
    height:42px;
    object-fit:contain;
}

/* CHECKOUT */

.checkout-container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:120px 20px;
}

.checkout-form{
    width:100%;
    max-width:500px;
    background:#181818;
    padding:40px;
    border-radius:20px;
    display:flex;
    flex-direction:column;
    gap:20px;
}

.checkout-form h1{
    text-align:center;
    margin-bottom:10px;
}

.checkout-form input{
    width:100%;
    padding:16px;
    border:none;
    border-radius:12px;
    background:#111;
    color:white;
}

.checkout-row{
    display:flex;
    gap:15px;
}

.checkout-form h2{
    margin-top:10px;
    color:#00ff9d;
}

.checkout-form button{
    padding:16px;
    border:none;
    border-radius:12px;
    background:#00ff9d;
    color:black;
    font-weight:bold;
    cursor:pointer;
}

/* LINKS */

a{
    text-decoration:none;
}

/* BOTONES LINK */

.btn-link{
    display:inline-block;
    padding:14px 22px;
    border-radius:12px;
    background:#00ff9d;
    color:black;
    font-weight:bold;
    transition:0.3s;
}

.btn-link:hover{
    transform:scale(1.03);
    background:white;
}

/* Enlaces oscuros */

.link-dark{
    color:#00ff9d;
    transition:0.3s;
}

.link-dark:hover{
    color:white;
}

/*Añadido al final*/

.error-login{
    background:#ff3b3b;
    color:white;
    padding:14px;
    border-radius:10px;
    margin-bottom:20px;
    text-align:center;
    font-weight:bold;
    border:1px solid rgba(255,255,255,0.1);
}
